
.name-label {
    margin-top: 20px;
}

.item-name-input {
    margin-top: 30px;
    background: rgba(130, 76, 164, 0.29);
    border: 3px solid #824CA4;
    box-sizing: border-box;
}

.type-dropdown{
    margin-top: 20px;
}

.type-label{
    margin-top: 100px;
}

.description-label{
    margin-top: 20px;
}

.description-area{
    margin-top: 30px;
    height: 155%;

}

.add-button{
    margin-top: 250px;
    margin-left: 100px;
    width: 35%;
    height: 15%;

    background: #824CA4;
}

.add-item-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    justify-items: stretch;
}