.item-info_ {
    display: inline-block;
    text-align: left;
    width: 25%;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 145%;
    line-height: 155%;
    color: black;
}

.display-info {
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    width: 50%;
}

.lot-info_ {
    display: inline-block;
    text-align: left;
    width: 25%;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 180%;
    line-height: 135%;
    color: black;
}

.bidding-price-input {
    margin-top: 20px;
    margin-left: 35%;

}

.bid-button {
    margin-top: 10px;
    margin-left: 35%;
    width: 12%;
    height: 45px;
    background: #824CA4;
}