.item-dropdown {
    width: 31%;
    height: 7%;
}

.starting-price-input {
    width: 31%;
    height: 7%;
}


.auction-step-input {
    width: 31%;
    height: 7%;
}


.starting-date-input {
    width: 31%;
    height: 7%
}

.create-button {
    width: 13%;
    height: 45px;
    background: #824CA4;
}

.lot-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}