.scroll{
    left: 20%;
}

.watch{
    width: 20%;
    margin-left: 60%;
    height: 10%;
    background: #824CA4;
}

.back{
    align-self: center;
    width: 40%;
    height: 15%;
    background: #824CA4;
}