.email-input {
    width: 31%;

    background: rgba(130, 76, 164, 0.29);
    border: 3px solid #824CA4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.password-input{
    width: 31%;

    background: rgba(130, 76, 164, 0.29);
    border: 3px solid #824CA4;
    box-sizing: border-box;
}

.repeat-password-input{
    width: 31%;

    background: rgba(130, 76, 164, 0.29);
    border: 3px solid #824CA4;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 53px;
    color: #FFFFFF;

}

input[type="text"]{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 53px;
    /* identical to box height */

    color: #FFFFFF;
}

input[type="password"]{
    font-weight: 400;
    font-size: 25px;
    line-height: 53px;
    /* identical to box height */

    color: #FFFFFF;
}

.sign-up{
    width: 10%;
    background: #824CA4;
}

.button-text{
    position: center;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180%;
    line-height: 100%;
    /* identical to box height */

    color: #FFFFFF;
}

.signingup-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}